.section {
   display: flex;
   flex-direction: column;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}
.section_desc_title {
   font-size: 28px;
}
.section_desc_text {
   flex-wrap: wrap;
   font-style: 14px;
   margin-left: 1.8rem;
   margin-right: 1.8rem;
}
.section_desc_img {
   padding-bottom: 3rem;
   position: relative;
   width: 80vw;
}
.div {
   align-items: flex-start;
   border-bottom: 8px solid rgba(255, 255, 255, 0.185);
   display: flex;
   margin: -8px;
   padding: 0;
   width: 100vw;
}
.movie {
   display: flex;
   height: 6.9rem;
   left: 4rem;
   position: absolute;
   top: 62.9rem;
}
@media (min-width: 375px) {
   .movie {
      box-sizing: border-box;
      height: 8rem;
      left: 4.3rem;
      position: absolute;
      top: 58rem;
   }
}
@media (min-width: 425px) {
   .movie {
      height: 9rem;
      left: 5.5rem;
      position: absolute;
      top: 55rem;
   }
}
@media (min-width: 768px) {
   .movie {
      height: 16rem;
      left: 9.8rem;
      position: absolute;
      top: 50rem;
   }
}
@media (min-width: 1024px) {
   .section {
      flex-direction: row;
      flex-wrap: wrap;
   }
   .section_desc_title{
      display: flex;
      font-size: 48px;
      font-weight: 800;
      margin: 25px;
      padding: 0;
      max-width: 500px;
   }
   .section_desc_text {
      display: flex;
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
      padding: 0px;
      text-align: initial;
      max-width: 500px;
   }
   .section_desc_img {
      max-height: 440px;
      position: relative;
      top: -50px;
      max-width: 440px;
      left: -30px;
   }
   .movie {
      display: flex;
      height: 50vh;
      left: 36.9rem;
      position: absolute;
      top: 30.5rem;
      width: 44vh;
   }
}
@media (min-width: 1440px) {
   .section_desc_title{
      margin: 0px 10rem 2rem 10rem;
   }
   .section_desc_text {
      margin: 0px 10rem;
   }
   .section_desc_img {
      left: -50px;
      top: -50px;
      max-width: 500px;
   }
   .movie {
      display: flex;
      left: 52.9rem;
      position: absolute;
      top: 30.5rem;
      width: 44vh;
   }
}