.section {
   display: flex;
   flex-direction: column;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}
.section_desc_title {
   font-size: 28px;
}
.section_desc_text {
   flex-wrap: wrap;
   font-style: 14px;
   margin-left: 1.8rem;
   margin-right: 1.8rem;
}
.section_desc {
   height: 230px;
}
.movie {  /* video */
   display: flex;
   position: relative;
   max-width: 225px;
   top: 73px;
}
.tv { /* section */
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   height: 25vh;
   justify-content: center;
}
.section_tv_img { /*img */
   display: flex;
   max-width: 300px;
   position: relative;
   top: -100px;
}
.div {
   align-items: flex-start;
   border-bottom: 8px solid rgba(255, 255, 255, 0.185);
   margin: -8px;
   padding: 0;
   width: 100vw;
}
@media (min-width: 375px) {

}
@media (min-width: 425px) {

}
@media (min-width: 768px) {
   .section_tv_img {
      top: -3rem;
      height: 15rem;
      left: -100px;
   }
   .movie {
      display: flex;
      position: relative;
      max-width: 225px;
      top: -55px;
      left: 165px;
   }
}
@media (min-width: 1024px) {
   .section {
      flex-direction: row;
      display: flex;
   }
   .section_desc_title{
      display: flex;
      font-size: 48px;
      font-weight: 800;
      margin: 25px;
      padding: 0;
      max-width: 500px;
   }
   .section_desc_text {
      display: flex;
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
      padding: 0px;
      text-align: initial;
      max-width: 500px;
   }
   .section_tv_img {
      top: -120px;
      height: 250px;
      left: 60px;
   }
   .movie {
      display: flex;
      position: relative;
      max-width: 225px;
      top: 60px;
      left: 60px;
   }
}
@media (min-width: 1100px) {
   .section_tv_img {
      top: 0px;
      height: 250px;
      left: -110px;
   }
   .movie {
      max-width: 230px;
      top: -8px;
      left: 157px;
   }

}
@media (min-width: 1440px) {
   .section_desc_title{
      margin: 0px 10rem 2rem 10rem;
   }
   .section_desc_text {
      margin: 0px 10rem;
   }
}