.section {
   display: flex;
   flex-direction: column;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}
.section_desc_title {
   font-size: 28px;
}
.section_desc_text {
   flex-wrap: wrap;
   font-style: 14px;
   margin-left: 1.8rem;
   margin-right: 1.8rem;
}
.movie {
   box-sizing: border-box;
   display: flex;
   left: 13vw;
   position: relative;
   top: -23vh;
   max-width: 80vw;

}
.section_desc {
   height: 230px;
}
.tv {
   align-items: center;
   display: flex;
   height: 30vh;
   justify-content: center;
}
.section_tv_img {
   display: flex;
   max-width: 310px;
   position: relative;
}
.div {
   align-items: flex-start;
   border-bottom: 8px solid rgba(255, 255, 255, 0.185);
   margin: -8px;
   padding: 0;
   width: 100vw;
}
@media (min-width: 375px) {

}
@media (min-width: 425px) {

}
@media (min-width: 768px) {
   .section_tv_img {
      top: -3rem;
      height: 15rem;
   }
}
@media (min-width: 1024px) {
   .section {
      flex-direction: row;
      flex-wrap: wrap;
   }
   .section_desc_title{
      display: flex;
      font-size: 48px;
      font-weight: 800;
      margin: 25px;
      padding: 0;
      max-width: 500px;
   }
   .section_desc_text {
      display: flex;
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
      padding: 0px;
      text-align: initial;
      max-width: 500px;
   }
   .section_tv_img {
      top: -30px;
      height: 250px;
      left: 60px;
   }
}
@media (min-width: 1440px) {
   .section_desc_title{
      margin: 0px 10rem 2rem 10rem;
   }
   .section_desc_text {
      margin: 0px 10rem;
   }
  /* .section_desc_img {
      left: -50px;
      top: -50px;
      max-width: 500px;
   } */
}